/** removes 1px line between bookmark-bar and switch (container for panels) */
.bookmark-bar-top .bookmark-bar {
    border: none;
}

/** removes thin line below tabs */
#tabs-tabbar-container {
    box-shadow: none !important;
}

/** adaptes the border of the toolbar buttons to the selected theme */
.button-toolbar > button {
    border-radius: var(--radius) !important;
}

/** hides the loading progress */
.toolbar-insideinput > .pageload > div {
    display: none;
}

/**  removes the border below the mainbar */
.address-top .mainbar {
    border-bottom: none;
}

.tab.active {
    font-weight: bold; /** sets the active tabs font weight to bold */

    .tab-header .favicon {
        filter: none !important; /* removes filter of favicon */
    }
}

/** adjusts the border radius of the close button of a tab and the status info according to themes settings */
.tab .close, .StatusInfo-Content {
    border-radius: var(--radius) !important;
}

/** adjust hover effect */
#switch .button-toolbar {
    border-top-right-radius: var(--radius) !important;
    border-bottom-right-radius: var(--radius) !important;
}

/** add hover effect to speed dials and web panels */
.dial, #switch .button-toolbar:not(.active) {
    opacity: 0.66 !important;
    transition: opacity .25s !important;
}

.dial:hover, #switch .button-toolbar:hover {
    opacity: 1 !important;
}


/** adjust calendar */
.cal-event-header {
    color: var(--colorCalendarFg);
    background: var(--colorCalendarBg);
    border-radius: calc(var(--radius) / 2);
}

.all-day {
    margin-bottom: .5rem;
}

.all-day .cal-event-header {
    padding: 0.5rem;
    margin: 0.5rem 0;
}

/** hide the URL bar of dashboard web widgets */
.dashboard-widget .url-wrapper {
    display: none;
}