.bookmark-bar-top .bookmark-bar {
    border: none;
    align-items: baseline;
    /* removes 1px line between bookmark-bar and switch (container for panels) */
}

.button-toolbar > button {
    border-radius: var(--radius) !important;
    /* adaptes the border of the toolbar buttons to the selected theme */
}

.toolbar-insideinput > .pageload > div {
    display: none;
    /* hides the loading progress */
}

.bookmark-bar button:hover {
    border-radius: var(--radius);
}

/* use correct accent color */
.tab-indicator.active {
    background-color: var(--colorAccentBg) !important;
}


.address-top .mainbar {
    border-bottom: none;
}

.tab.active {
    font-weight: bold;
}

#switch {
    background-color: var(--colorBorder);
}

.tab .close {
    border-radius: 100%;
}

.mosaic-root {
    background-color: var(--colorBorder);
}

#webview-container:has(#webpage-stack .mosaic.visible) {
    box-shadow: 0 0 0 8px var(--colorBorder), inset 0 0 0 8px var(--colorBorder);
}

.mosaic-split .mosaic-split-line, .mosaic-split .mosaic-split-line::before, .mosaic-split .mosaic-split-line::after {
    background-color: var(--colorBorder)
}

.hasfocus .mosaic-tile .tiled.active {
    box-shadow: 0 0 0 2px var(--colorHighlightBg) !important;
}

.StatusInfo-Content {
    border-radius: var(--radius) !important;
}

.window-maximize {
    border-radius: 2px;
}

/* adjust hover effect */
#switch .button-toolbar {
    border-top-right-radius: var(--radius) !important;
    border-bottom-right-radius: var(--radius) !important;
}

/* add hover effect to speed dials and web panels */
.dial, #switch .button-toolbar:not(.active) {
    opacity: 0.66 !important;
    transition: opacity .25s !important;
}

.dial:hover, #switch .button-toolbar:hover {
    opacity: 1 !important;
}