.bookmark-bar-top .bookmark-bar {
    border: none;
    align-items: baseline;
    /* removes 1px line between bookmark-bar and switch (container for panels) */
}
.button-toolbar>button {
    border-radius: var(--radius) !important;
    /* adaptes the border of the toolbar buttons to the selected theme */
}
.toolbar-insideinput>.pageload>div {
    display: none;
    /* hides the loading progress */
}
.bookmark-bar button:hover {
    border-radius: 10px;
}

/* use correct accent color */
.tab-indicator.active {
    background-color: var(--colorAccentBg) !important;
}

.tab.active {
    font-weight: bold;
}

#switch {
    background-color: var(--colorBorder);
}

.tab .close {
    border-radius: 100%;
}

.button-toolbar.newtab > button, .button-toolbar.newtab > button:hover {
    -webkit-mask: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='26' height='26' version='1.1' viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage'/%3E%3Cdc:title/%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cpath d='m13 5a8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8 8 8 0 0 0-8-8zm-1 3h2v4h4v2h-4v4h-2v-4h-4v-2h4v-4z' style='paint-order:stroke fill markers'/%3E%3C/svg%3E");
    -webkit-mask-position: 50% 50%;
    /* custom new tab icon */
}

#webview-container:has(#webpage-stack .mosaic.visible) {
    box-shadow: 0 0 0 8px var(--colorBorder), inset 0 0 0 8px var(--colorBorder);
}

.mosaic-split .mosaic-split-line, .mosaic-split .mosaic-split-line::before, .mosaic-split .mosaic-split-line::after {
    background-color: var(--colorBorder)
}

.hasfocus .mosaic-tile .tiled.active {
    box-shadow: 0 0 0 2px var(--colorHighlightBg) !important;
}

.StatusInfo-Content {
    border-radius: .45rem !important;
}

/* edge dev like border around website */
/* start */
#webpage-stack {
    box-shadow: 0 0 0 0.75rem var(--colorBorder);

    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;

    margin-bottom: 0.5rem;
    margin-right: 0.5rem; 
}

.StatusInfo {
    margin-bottom: 0.5rem;
}

.panel-group {
    margin-bottom: .5rem;
}

.panel-group::before{
    content: '';
    position: absolute;
    width: .75rem;
    height: .75rem;
    background-color: var(--colorBorder);
    -webkit-mask-image: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 70%, #000 73%);
    transform: rotate(180deg);
}

.panel-group::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: .75rem;
    height: .75rem;
    background-color: var(--colorBorder);
    -webkit-mask-image: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 70%, #000 73%);
    transform: rotate(90deg);
}
/* stop  */