/**
* Vertical Extensions Drop-Down
* Forum link: https://forum.vivaldi.net/topic/96266/vertical-extensions-drop-down-menu
*/
.extensionIconPopupMenu {
    --popupWidth: 200px !important;

    > .toolbar {
        max-height: 50vh;
        overflow: hidden auto;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    .ExtensionDropdownIcon > button {
        justify-content: flex-start;
        padding: 8px 10px;

        &::after {
            content: attr(title);
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

/**
 * Hide extensions
 */
.toolbar-extensions
    button:where(
        [title='Speed Dial Generator'],
        [title='Modern scrollbar'],
        [title='Vivaldi Forum mod'],
        [title='Scrollbar of Contents'],
        [title='datacy'],
        [title*='Coupert'],
        [title='PayPal Honey'],
        [title='Tampermonkey'],
        [title^='Acrobat'],
        [title^='Violentmonkey'],
        [title='Custom Scrollbars'],
        [title='modern scroll']
    ) {
    display: none !important;
}