/**
 * Merge tabbar and addressbar
 * Forum link: https://forum.vivaldi.net/topic/96664/merge-tabs-and-address-bar
 * Inspired by: https://forum.vivaldi.net/topic/34187/merge-tabs-and-address-bar
 */

#header {
    .vivaldi {
        height: 34px;
        width: 34px;
        margin-top: 3px;
        margin-left: 3px;
        padding: 0;
        border-radius: var(--radius) !important;

        &:hover {
            background-color: var(--colorAccentBgDark) !important;
        }

        .expand-arrow {
            display: none;
        }
    }

    .window-buttongroup {
        height: 35px;
    }

    #tabs-tabbar-container {
        margin-left: calc(26vw + 140px);
        margin-right: 65px;
        transition: all 0.75s;
        padding-top: 0 !important;
    }
}

#browser:has(.toolbar-mailbar:not(.toolbar-hidden)) #tabs-tabbar-container {
    margin-left: 47rem;
    margin-right: 0;
}

.win.normal {
    .tab-group-indicator {
        top: -2px;
    }

    #titlebar:not(.tabless) {
        top: -5px;
    }

    .mainbar .toolbar-mainbar {
        left: unset;
        right: unset;
    }
}

.win.maximized #header .vivaldi {
    margin-top: 0;
}

.UrlBar-AddressField {
    width: 27vw;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;

    &:not(:focus-within) {
        overflow: hidden;
    }

    &:focus-within {
        width: 40vw !important;
        height: 30px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .OmniDropdown {
        margin-top: 0;
    }
}

.mainbar {
    .toolbar-mainbar {
        border-bottom: none !important;

        &:not(.toolbar-wrap .toolbar-droptarget) {
            position: absolute;
            transform: translateY(-100%);
            left: 40px !important;
            height: 30px;
            border-radius: 10px;
        }

        .toolbar-extensions {
            position: absolute !important;
            transform: translate(-100%);
            left: calc(100vw - 180px) !important;
            height: 30px !important;
            right: unset !important;
        }
    }

    .toolbar-mainbar::before,
    .toolbar-extensions::before {
        display: none;
    }

    .toolbar-mailbar {
        width: 45rem;
    }
}

#browser:not(.is-settingspage) #main {
    position: unset;
}

#browser:not(.fullscreen) #header {
    height: 30px;
    min-height: unset !important;
}

.density-on {
    &#browser:not(.fullscreen) #header, .vivaldi {
        height: calc(36px / var(--uiZoomLevel));
    }

    .toolbar-mainbar {
        &:not(.toolbar-wrap .toolbar-droptarget), .toolbar-extensions {
            height: 36px !important;
        }
    }

    #tabs-tabbar-container {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
    }

    #header .vivaldi {
        margin-top: 6px;
    }

    .window-buttongroup {
        height: 40px !important;
    }

    .mainbar {
        padding: 0 !important;
    }
}

#browser.popup {
    #header,
    #titlebar,
    #pagetitle {
        height: 35px !important;
    }

    #pagetitle {
        margin-left: 45vw !important;
        padding: 5px 0 0 0 !important;
        max-width: calc(55vw - 220px) !important;

        span {
            margin: 0 auto;
            max-width: 100%;
        }
    }

    .toolbar-mainbar {
        left: 10px !important;
        padding-bottom: 0.5rem;
    }

    .UrlBar-AddressField {
        width: 40vw !important;
        background-color: var(--colorBgLightIntense);

        &:focus-within {
            width: 50vw !important;
        }
    }

    .window-buttongroup button {
        height: 35px !important;
    }

    .toolbar-extensions {
        left: calc(100vw - 150px) !important;
    }
}

