/*
#tabs-tabbar-container {
    order: 0 !important;
    flex: 2 !important;
    background: var(--colorAccentBg) !important;
    padding-left: 1rem !important;
    padding-bottom: 0 !important;
    border-top-width: 0 !important;
    overflow: hidden;
}

 .resize, .tab-strip {
    overflow: hidden;
}

.tab-strip {
    display: flex !important;
}

.tab-strip > span {
    flex: 1 !important;
    display: flex;
    overflow: hidden !important;
}

.tab-strip .newtab {
    left: unset !important;
}

.tab-strip .toolbar {
    flex: 0 !important;
    padding-right: 2rem;
}

.tab {
    border-radius: var(--radiusHalf) !important;
}

.tab.active {
    background: var(--colorTabBar, transparent) !important;
}

.tab.active:before, .tab.active:after {
    display: none !important;
}

.tab-position:hover .tab:not(.active), .tab:hover:not(.active) {
    background-color: var(--colorBgDarker) !important;
}

.tab-position {
    transform: unset !important;
    flex: 1 !important;
    position: relative !important;
    
}

.tab.unread{
   background-image: linear-gradient(-135deg, var(--colorFgFadedMore) 5px, transparent 5px) !important;
}

.tab-group-indicator {
    top: -7px !important;
}

.tab-indicator:first-of-type {
    border-top-left-radius: var(--radiusHalf) !important;
    border-bottom-left-radius: unset !important;
}

.tab-indicator:last-of-type {
    border-top-right-radius: var(--radiusHalf) !important;
    border-bottom-right-radius: unset !important;
}

.tab-indicator.active {
    background-color: var(--colorHighlightFgAlpha) !important;
    border-top-width: 3px !important;    
    height: 9px !important;
    padding-top: 3px !important;
}

.tab-indicator {
    background-color: var(--colorBgLightIntense) !important;
}

.UrlBar-AddressField {      
    transition: flex .35s ease-in-out !important;
    background-color: var(--colorBgLightIntense);
}

.UrlBar-AddressField:focus-within {
    flex: 2;
}

.toolbar-mainbar {
    min-height: calc(35px / var(--uiZoomLevel)) !important;
}

.window-buttongroup {
    height: 35px !important;
}
*/