#tabs-tabbar-container {
    background-color: var(--colorAccentBg) !important;
}

.tab {
    border-radius: var(--radiusHalf) !important;

    &.active {
        background: var(--colorTabBar, transparent) !important;

        &:before,
        &:after {
            display: none !important;
        }
    }
}

.tab-indicator {
    background-color: var(--colorHighlightFgAlphaHeavy) !important;

    &.active {
        background-color: var(--colorHighlightFgAlpha) !important;
        border-bottom-width: 3px !important;
    }
}

.UrlBar-AddressField {
    background-color: var(--colorBgLightIntense);
}

.mainbar .toolbar-mainbar {
    background: var(--colorAccentBg) !important;
}

.toolbar-extensions {
    background-color: var(--colorAccentBg) !important;
}

#header {
    background-color: var(--colorAccentBg) !important;
}

#browser.popup #header {
    background: var(--colorAccentBg) !important;
}
