#tabs-tabbar-container {
    margin-left: calc(26vw + 140px);
    margin-right: 20px;
    transition: all .75s;
}

#browser:has(.toolbar-mailbar) #tabs-tabbar-container {
    margin-left: 865px;
    margin-right: -50px;
}

.win.normal .tab-group-indicator {
    top: -2px;
}

.win.normal #titlebar:not(.tabless) {
    top: -5px;
}

.UrlBar-AddressField {    
    width: 27vw;
    
    /* added animation for extending and reducing the width */
    transition: .2s ease-in-out !important;
}

/* .mainbar:has(.OmniDropdown) */ .UrlBar-AddressField:focus-within {
    /* extends the width of the url bar addressfield while it is focused */
    width: 40vw !important;
    height: 30px;
}

.OmniDropdown {
    margin-top: -3px;
}

.mainbar .toolbar-mainbar:not(.toolbar-wrap .toolbar-droptarget) {
    position: absolute;
    top: 0;
    left: 30px !important;
    height: 30px;
    border-radius: 10px;
}

.mainbar .toolbar-mainbar {
    background: var(--colorBg) !important;
}

.mainbar .toolbar-mainbar::before, .mainbar .toolbar-extensions::before {
    display: none;
}

.win.normal .mainbar .toolbar-mainbar {
    left: unset;
    right: unset;
}

.mainbar .toolbar-mailbar {
    width: 855px;
}

.toolbar-extensions {
    position: absolute !important;
    transform: translate(-100%);
    background-color: var(--colorBg) !important;
    left: calc(100vw - 165px) !important;
    height: 30px !important;
    right: unset !important;
}

.window-buttongroup {
    height: 35px;
}

#browser:not(:has(.tabless)) #main {
    position: unset;
}

.win.normal #header {
    height: 30px;
    min-height: unset !important;
}
