#tabs-tabbar-container {
    order: 0 !important;
    flex: 2 !important;
    background: var(--colorAccentBg) !important;
}

.tab.active {
    background: var(--colorTabBar, transparent) !important;
}

.tab.active:before, .tab.active:after {
    display: none !important;
}

.tab {
    border-radius: var(--radiusHalf) !important;
}

.tab-position:hover .tab:not(.active), .tab:hover:not(.active) {
    background-color: var(--colorBgDarker) !important;
}

.tab-group-indicator {
    top: -7px !important;
}

.tab-indicator:first-of-type {
    border-top-left-radius: var(--radiusHalf) !important;
    border-bottom-left-radius: unset !important;
}

.tab-indicator:last-of-type {
    border-top-right-radius: var(--radiusHalf) !important;
    border-bottom-right-radius: unset !important;
}

.tab-indicator.active {
    background-color: var(--colorHighlightFgAlpha) !important;
    border-top-width: 3px !important;
    height: 12px !important;
    padding-top: 6px !important;
}

.tab-indicator {
    background-color: var(--colorBgLightIntense) !important;
}

.UrlBar-AddressField {      
    /* added animation for extending and reducing the width */
    transition: .2s ease-in-out !important;
    background-color: var(--colorBgLightIntense);
}

.UrlBar-AddressField:focus-within {
    flex: 2;
}

#vivaldi-tooltip .tooltip{
    height: max-content !important;
    width: 280px !important;
    top: 2.5rem !important;
}

#vivaldi-tooltip .tooltip .tooltip-item {
    width: 280px !important;
    height: auto !important;
}

#vivaldi-tooltip .tooltip .thumbnail-image {
    display: none !important;
}