/**
 * Merge tabbar and addressbar
 * Forum link: https://forum.vivaldi.net/topic/96664/merge-tabs-and-address-bar
 * Inspired by: https://forum.vivaldi.net/topic/34187/merge-tabs-and-address-bar
 */
#app {
    --address-bar-width: 20vw;
    --address-bar-width-focused: 40vw;
}

.vivaldi {
    width: 40px;

    .expand-arrow {
        display: none;
    }
}

#browser:not(.toolbar-edit-mode) .toolbar-mainbar:empty {
    display: none;
}

.address-top .mainbar {
    border-bottom: none;
}

.bookmark-bar-top .bookmark-bar {
    border-bottom: none;
    padding: 0.25rem 0.2rem 0;
    height: 33px;
}

#browser:not(:has(.toolbar-mailbar:not(.toolbar-hidden))) #tabs-container {
    .button-toolbar:has(button[name*="Mail"]), .MailSearchField {
        display: none;

        & + .toolbar-spacer {
            display: none;
        }
    }
}

#browser:has(.toolbar-mailbar.toolbar-visible) #tabs-container {
    .button-toolbar:not(:has(button[name*="Mail"]), :has(button[name*="NewTab"]), .toolbar-spacer), .UrlBar-AddressField {
        display: none;

        & + .toolbar-spacer {
            display: none;
        }
    }
}

#tabs-container > .toolbar-tabbar-before {
    position: relative;
    overflow: visible;

    .button-toolbar:has( + .UrlBar-AddressField) {
        margin-right: calc(var(--address-bar-width) + 1vw);
    }

    .UrlBar-AddressField {
        max-width: unset !important;
        position: absolute !important;
        height: 30px;
        width: var(--address-bar-width);
        right: 0;
        margin-right: 0.5rem;
        z-index: 3;
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out, margin-top 0.2s ease-in-out, right 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;

        &:focus-within {
            width: var(--address-bar-width-focused);
            background-color: var(--colorBg);
            height: 34px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            right: calc(var(--address-bar-width) - var(--address-bar-width-focused));
        }
    }
}

/* correct positioning for fullscreen mod */
.fullscreen-listener-enabled {
    #header .vivaldi {
        margin-top: 6px !important;
    }

    #main {
        position: absolute;
    }
}