#tabs-tabbar-container {
    position: fixed;
    top: 0;
    left: calc(26vw + 140px);
    right: 0;
    padding-top: 0 !important;
    margin-right: 20px;
}

.win.normal .tab-group-indicator {
    top: -2px;
}

.win.normal #titlebar {
    top: -5px;
}

.UrlBar-AddressField {
    width: 27vw;
}

.mainbar .toolbar-mainbar:not(.toolbar-wrap .toolbar-droptarget) {
    position: absolute;
    top: 0;
    left: 30px !important;
    height: 30px;
}

.mainbar .toolbar-mainbar {
    background: var(--colorBg) !important;
}

.mainbar .toolbar-mainbar::before, .mainbar .toolbar-extensions::before {
    display: none;
}

.win.normal .mainbar .toolbar-mainbar {
    left: unset;
    right: unset;
}

.toolbar-extensions {
    position: absolute !important;
    transform: translate(-100%);
    background-color: var(--colorBg) !important;
    left: calc(100vw - 165px) !important;
    height: 30px !important;
    right: unset !important;
}

.window-buttongroup {
    height: 35px;
}

#header, #main {
    position: unset;
}

#header {
    height: 30px;
    min-height: unset !important;
}
