/**
 * Merge tabbar and addressbar
 * Forum link: https://forum.vivaldi.net/topic/96664/merge-tabs-and-address-bar
 * Inspired by: https://forum.vivaldi.net/topic/34187/merge-tabs-and-address-bar
 */
#header {
    .vivaldi {
        height: 35px;
        width: 35px;
        margin-left: 3px;
        border-radius: var(--radius) !important;
        margin-top: 2px;

        .expand-arrow {
            display: none;
        }
    }

    .window-buttongroup {
        height: 35px;
    }

    #tabs-tabbar-container {
        margin-left: calc(26vw + 140px);
        transition: all 0.75s;
        padding-top: 0 !important;
    }
}

#browser:has(.toolbar-mailbar:not(.toolbar-hidden)) #tabs-tabbar-container {
    margin-left: max(25vw, 40rem);
    margin-right: 0;
}

.win.normal {
    .tab-group-indicator {
        top: -2px;
    }

    .mainbar .toolbar-mainbar {
        left: unset;
        right: unset;
    }
}

.win.maximized #header .vivaldi {
    margin-top: 2px;
}

.UrlBar-AddressField {
    width: 27vw;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, margin-top 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;

    &:focus-within {
        width: 40vw !important;
        height: 30px;
        margin-top: -2px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .OmniDropdown {
        margin-top: 0;
    }
}

.mainbar {
    position: absolute;

    .toolbar-mainbar {
        border-bottom: none !important;

        button:hover {
            background-color: var(--colorAccentBgAlpha);
            !important;
        }

        &:not(.toolbar-wrap .toolbar-droptarget) {
            position: absolute;
            transform: translateY(-100%);
            left: 40px !important;
            height: 30px;
            border-radius: 10px;
        }
    }

    .toolbar-mainbar::before,
    .toolbar-extensions::before {
        display: none;
    }

    .toolbar-mailbar {
        width: max(25vw, 40rem);
    }
}

/**  removes the border below the mainbar */
.address-top .mainbar {
    border-bottom: none;
}

/** removes 1px line between bookmark-bar and switch (container for panels) */
.bookmark-bar-top .bookmark-bar {
    border: none;
    padding: 0.2rem 0.2rem 0;
    height: 30px !important;
}

#main {
    position: unset;
}

#browser:not(.fullscreen) #header {
    height: 35px;
    min-height: unset !important;
}

.density-on {
    &#browser:not(.fullscreen) #header, .vivaldi {
        height: calc(40px / var(--uiZoomLevel));
    }

    .toolbar-mainbar {
        &:not(.toolbar-wrap .toolbar-droptarget), .toolbar-extensions {
            height: 35px !important;
        }
    }

    #tabs-tabbar-container {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        padding-right: 30px;
    }

    #header .vivaldi {
        /* margin-top: 6px;*/
        height: 40px;
    }

    .window-buttongroup {
        height: 40px !important;
    }

    .mainbar {
        padding: 0 !important;
    }
}

#browser.popup {
    #header,
    #titlebar,
    #pagetitle {
        height: 35px !important;
    }

    #pagetitle {
        margin-left: 45vw !important;
        padding: 0 !important;
        max-width: calc(55vw - 220px) !important;

        img {
            display: none;
        }

        span {
            margin: 0 auto;
            max-width: 100%;
        }
    }

    .toolbar-mainbar {
        left: 10px !important;
        padding-bottom: 0.25rem;
    }

    .UrlBar-AddressField {
        width: 40vw !important;
        background-color: var(--colorBgLightIntense);
        overflow: hidden;

        &:focus-within {
            width: 50vw !important;
        }
    }

    .window-buttongroup {
        margin-top: 0;
        button {
            height: 35px !important;
            margin-top: 0;
        }
    }

    .toolbar-extensions {
        left: calc(100vw - 150px) !important;
    }
}

/* correct positioning for fullscreen mod */
.fullscreen-listener-enabled {
    #header .vivaldi {
        margin-top: 5px !important;
    }

    #main {
        position: absolute;
    }
}