#main {
    background-color: var(--colorAccentBg);
    padding-top: 0.1rem;
}

.inner {
    padding-top: calc(var(--edge-like-border-radius) / 2);
}

.startpage {
    background-image: url("chrome://vivaldi-data/thumbnail/MDOR2SEXJHA3SZDYNDXIRP2LSPGNTSAD.png");
    background-size: cover
}

#tabs-container {
    margin-top: 2px;
    padding-top: 1px;
}

.UrlBar-AddressField {
    background-color: var(--colorBgAlphaBlur);
}

.tab.active .tab-header {
    margin: -0px;
    background-color: var(--colorBgAlphaBlur) !important;
}

.bookmark-bar {
    background: var(--colorAccentBg) !important;
    margin: .2rem;
    margin-bottom: -1px;
}

.bookmark-bar .observer {
    width: 100%;
    margin: 0 .25rem !important;
    border-radius: var(--radius) !important;
    background: var(--colorBgAlphaBlur) !important;
}

.bookmark-bar .observer button {
    border-radius: var(--radius);
}

#panels-container {
    background-color: var(--colorAccentBg) !important;
}

#browser:not(.fullscreen) #panels-container.icons, #browser:not(.fullscreen) #panels-container.overlay {
    width: 41px !important;
}

#switch {
    background-color: var(--colorBgAlphaBlur) !important;
    margin: .0rem .2rem .5rem .2rem;
    border-radius: var(--radius);
}

.panel-collapse-guard {
    min-width: 100% !important;
}

.panel {
    background-color: var(--colorBgAlphaBlur) !important;
}

.panel-group {
    left: 41px !important;
}

.webpanel-header {
    background-color: var(--colorBgAlphaBlur);
}

#browser, #header, #tabs-tabbar-container, .tab.active, .mainbar, .bookmark-bar, #main, #webpage-stack, #webpage-stack::before, .SlideBar, .panel-group::before, .toolbar-mainbar, #panels-container, .YBDomainButton, .YBDomain::after, .toolbar-extensions {
    transition: background-color .5s, border-color .5s, outline .5s, box-shadow .5s !important;
}

#browser {
    background: var(--colorAccentBg) !important;
}

footer:has(.toolbar-statusbar) {
    border-radius: var(--radius);
    margin: .2rem;
    background: var(--colorBgAlphaBlur) !important;
}

footer:has(.toolbar-statusbar) {
    margin-top: 0;
}

footer:has(.toolbar-statusbar)::after {
    display: none;
}