#app {
    --background-image: url("chrome://vivaldi-data/local-image/7PLWZYIFXRZ7S5M4MSELRB6KEBNGUZB3.png");
}

#browser {
    background: var(--colorAccentBg) !important;
}

#header .vivaldi {
    margin-top: 0.45rem;
}

#main {
    background-color: var(--colorAccentBg);
    padding-top: 0.25rem;
}

.bookmark-bar-top-off .inner {
    padding-top: calc(var(--edge-like-border-radius) / 4);
}

#app:not(.fullscreen-listener-enabled) .inner {
    padding-top: calc(var(--edge-like-border-radius) / 2);
}

.startpage {
    background-image: var(--background-image);
    background-size: cover;
}

.window-buttongroup {
    margin-top: 3px;
}

#tabs-container {
    margin-top: 0.25rem;
}

.UrlBar-AddressField {
    background-color: var(--colorBgAlphaBlur);
}

.tab.active {
    overflow: hidden !important;

    .tab-header {
        background-color: var(--colorBgAlphaBlur) !important;
    }
}

.bookmark-bar {
    background: var(--colorAccentBg) !important;
    margin: 0.2rem;
    margin-bottom: 0px;

    .observer {
        border-radius: var(--radius) !important;
        background: var(--colorBgAlphaBlur) !important;

        button {
            border-radius: var(--radius);
        }
    }
}

#panels-container {
    background-color: var(--colorAccentBg) !important;
}

#browser:not(.fullscreen):is(:has(#panels-container.icons), :has(#panels-container > .SlideBar)) #panels-container {
    &.icons, &.overlay {
        width: 41px !important;
    }
}

#browser:not(.fullscreen).density-on:is(:has(#panels-container.icons), :has(#panels-container > .SlideBar)) #panels-container {
    &.icons, &.overlay {
        width: 46px !important;
    }
}

#switch {
    background-color: var(--colorBgAlphaBlur) !important;
    margin: 0rem 0.2rem 0.5rem 0.2rem;
    border-radius: var(--radius);
}

.panel-collapse-guard {
    min-width: 100% !important;
}

.panel {
    background-color: var(--colorBgAlphaBlur) !important;
}

.panel-group {
    left: 41px !important;
}

.webpanel-header {
    background-color: var(--colorBgAlphaBlur);
}

#browser, #header, #tabs-tabbar-container, .tab.active, .mainbar, .bookmark-bar, #main, #webpage-stack, #webpage-stack::before,
.SlideBar, .panel-group::before, .toolbar-mainbar, #panels-container, .YBDomainButton, .YBDomain::after, .toolbar-extensions {
    transition: background-color 0.5s, border-color 0.5s, outline 0.5s, box-shadow 0.5s !important;
}

footer:has(.toolbar-statusbar) {
    border-radius: var(--radius);
    margin: 0 0.2rem 0.2rem;
    background: var(--colorBgAlphaBlur) !important;

    &::after {
        display: none;
    }
}

.find-in-page-wrapper {
    background-color: var(--colorBgAlphaBlur);
}
