#vivaldi-tooltip .tooltip {
    height: max-content !important;
    width: 280px !important;

    .tooltip-item {
        width: 280px !important;
        height: auto !important;
    }

    .thumbnail-image {
        display: none !important;
    }
}
