.ToolbarButton-Button[name="PanelHistory"] {
    margin-bottom: 10px;
    /* adds a spacing to the other web panels */
}
#switch .toolbar-divider {
    height: 4px !important;
    border-radius: 10px !important;
    background: gray !important;
}

#switch .toolbar-divider button {
    display: none;
}
.ToolbarButton-Button[title*="spotify"], .ToolbarButton-Button[title*="youtube"], .ToolbarButton-Button[title*="radiobob"], .ToolbarButton-Button[title*="We aRe oNe"] {
    position: absolute !important;
    bottom: 30px;
}
.webpanel {
    background-color: var(--colorBorder);
}
.webpanel-header {
    border-bottom: unset !important;
}